<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDgrZA0EKZSyPQSyXCvWAMb5PR6gLdsp-A</string>
	<key>GCM_SENDER_ID</key>
	<string>543246616339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DefaultCompany.2DProject</string>
	<key>PROJECT_ID</key>
	<string>loot-hunter-md-24</string>
	<key>STORAGE_BUCKET</key>
	<string>loot-hunter-md-24.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:543246616339:ios:4c5584ba1ac5d59b29fce6</string>
	<key>DATABASE_URL</key>
	<string>https://loot-hunter-md-24-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>